[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"
pylint = "*"

[packages]
jinja2 = "*"
requests = "*"
pytablewriter = {extras = ["excel", "html"], version = "*"}
pyexcel-xlsx = "*"
pyexcel = "*"
schedule = "*"

[requires]
python_version = "3.9"
